@model IEnumerable<SurveyCat.Models.Quesion>

@{
    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}
<script src="~/Scripts/bootstrap.js"></script>
@*<h2>Index</h2>*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuestionBank</title>
    @*<style>
        #Question-div {
            position: absolute;
            /*left: 40%;*/
            /*top: 40%;
            border: 1px solid #0026ff;
            padding: 10px 10px;*/
        }

        .field-validation-valid {
            color: red;
        }
    </style>*@
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="btn-group pull-right">

                @using (Html.BeginForm("AddQuestion", "QuestionBank", FormMethod.Get))
                {
                    <input type="submit" value="Add" class="btn btn-success" />
                    <input type="submit" value="Archive" class="btn btn-success" />
                    @*<button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD PACKET
                        </button>*@
                }
            </div>
            @*<h4>Questions</h4>*@
        </div>
        @*<div id="Question-div" class="container">*@
        @* <hr />*@

        @*<hr />*@

        @*<div class="panel-heading">
                <h4>Questions</h4>
            </div>*@
        <div class="panel panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @*<th>
                                @Html.DisplayNameFor(model => model.QID)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.QText)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.QuestionType.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.QuestionProperty.Property)
                            </th>*@
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.tempID)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.QText)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.QuestionType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuestionProperty.Property)
                                </td>*@
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.QID }, new { @class = "glyphicon glyphicon-edit" })
                                @*@Html.ActionLink("Details", "Details", new { id=item.QID }) |*@
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.QID })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*</div>*@
</body>
</html>